/* TODO: inserite il CSS necessario per completare il MHW! */

@media(max-width: 700px) 
{

  header div
  {
    display: none;
  }

  body
  {
    width: 95%;
  }
}

@media(max-width: 500px) 
{
  .choice-grid div
  {
    width: 49%;
  }
}


.choice-grid 
{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.choice-grid div
{        
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 32.5%;
  margin-bottom: 20px;
  background-color: #f4f4f4;
  padding: 10px;
  border: solid #dcdcdc 1px;
}


.choice-grid div img
{    
  width: 100%;
}

.overlay 
{
    opacity: 0.6; 
}

.choice-grid .immagine_cliccata
{
  background-color: #a5f79f;
}


#result 
{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
}

.hidden 
{
  display: none;
}


button
{
  cursor: pointer;
  height: 50px;
  width: 100%;
  text-align: center;
  background-color: #cecece;
}
button:hover{
  background-color: #e0e0e0;
}

h2
{
  margin-bottom: 18px;
}

